<div class="container d-flex justify-content-center align-items-center" style="height: 80%">
	<div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-key fa-4x"></i></h3>
                  <h2 class="text-center">Change your password?</h2>
                  <p>You can change your password here.</p>
                  <div class="panel-body">
    
                    <form id="forget-password-form" action="/user/change-password" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <input id="oldPassword" name="oldPassword" placeholder="Old password" class="form-control"  type="password">
                        </div>
                        
                      </div>
                      <div class="form-group">
                        <input id="newPassword" name="newPassword" placeholder="New password" class="form-control"  type="password">
                      </div>
                      <div class="form-group">
                        <input id="repeatPassword" name="repeatPassword" placeholder="Repeat new password" class="form-control"  type="password">
                        {{#if wrongPassword}}
                        <div style="float: right; margin-top:5px; margin-bottom:5px; color:red">Incorrect password !</div>
                        {{/if}}
                      </div>

                      <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" id="change-password" type="submit">Change Password</button>
                      </div>
                      
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
	</div>
</div>