<!DOCTYPE html>
<html lang="zxx">

  <head>
      <meta charset="UTF-8">
      <meta name="description" content="Ogani Template">
      <meta name="keywords" content="Ogani, unica, creative, html">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>VegaFoods</title>

      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

      <!-- Css Styles -->
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {{> humberger}}
    {{> header}}
    {{> hero}}
    {{{body}}}
    {{> footer}}

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/notify.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
