{{!-- <style>
    form{
        padding-top: 10px;
        font-size: 14px;
        margin-top: 30px;
    }

    .card-title{ font-weight:300; }

    .btn{
        font-size: 14px;
        margin-top:20px;
    }

    .login-form{ 
        width:320px;
        margin:20px;
    }
</style> --}}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%">
    <div class="card login-form" style="width:500px; margin:20px;">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password</h3>
            
            <div class="card-text">
                <form action="/auth/reset-password" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{emailAddress}}</label>
                        <input type="hidden" name="resetPasswordString" value="{{resetPasswordString}}">
                        <input type="hidden" name="emailAddress" value="{{emailAddress}}">
                        <input type="password" name="newPassword" class="form-control form-control-sm" placeholder="Enter new password" required>
                        {{#if connectPermitted}}
                        <div style="float: right; color:red">Error</div>
                        {{/if}}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>